@import "tailwindcss";

body {
  background: linear-gradient(180deg, #ffffff 0%, #f9f7f5 100%);
  background-attachment: fixed;
  color: #333333;
}

.brands-marquee-container {
  background-color: rgba(236, 232, 232, 0.893);
  padding: 2rem 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.marquee-track {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll-left 44s linear infinite;
}

/* توقف الحركة عند وضع الماوس على الحاوية أو التراك */
.brands-marquee-container:hover .marquee-track {
  animation-play-state: paused !important;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* تظليل الجوانب */
/* .brands-marquee-container::before,
.brands-marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
} */

.brands-marquee-container::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
}

.brands-marquee-container::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
}

.brand-item {
  padding: 0 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.brand-img {
  height: 75px;
  width: auto;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.4s ease;
}

.brand-item:hover .brand-img {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .brand-img {
    height: 50px;
    filter: none;
    opacity: 1;
  }
  .brand-item {
    padding: 0 2rem;
  }
  .brands-marquee-container::before,
  .brands-marquee-container::after {
    width: 60px;
  }
}
